* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow: hidden;
  width: 1920px;
  height: 1080px;
  background-color: black;
  background-repeat: no-repeat;
}

canvas {
  position: absolute;
  left: 215px;
  top: 508px;
  z-index: 2;
  width: 397px;
  height: 90px;
  transform: rotate(-17deg);
  opacity: 0;
  transition: all .1s;
}

div, span {
  position: absolute;
  background: transparent;
  border: none;
  border-width:0px;
}

.recordImg, .recordingImg, .stopImg, .saveImg, .savedImg, .playingImg, .restartImg {
  opacity: 0;
  transition: all .8s;
  border: none;
  border-width:0px;
}

.recordImg, .recordingImg {
  left: 59px;
  top: 22px;
}

.stopImg {
  left: 509px;
  top: 266px;
}

.saveImg, .savedImg {
  left: 987px;
  top: 73px;
}

.playingImg {
  position: absolute;
  left: 932px;
  top: 125px;
}

.restartImg {
  left: 23px;
  top: 306px;
}

#restart, #record, #stop, #save {
  position: absolute;
  z-index: 3;
  /*background-color:orange;*/
}

#restart:hover, #record:hover, #stop:hover, #save:hover {
  cursor: pointer;
  /*background-color: red;*/
}

#restart {
  left: 54px;
  top: 336px;
  width: 174px;
  height: 212px;
}

#record {
  left: 132px;
  top: 88px;
  width: 576px;
  height: 897px;

}

#stop {
  left: 578px;
  top: 292px;
  width: 389px;
  height: 633px;
}

#save {
  left: 1120px;
  top: 209px;
  width: 670px;
  height: 589px;
}


/* Make the clips use as much space as possible, and
* also show a scrollbar when there are too many clips to show
* in the available space */

.sound-clips {
  flex: 1;
  overflow: auto;
}

section, article {
  display: block;
}

.clip {
  padding-bottom: 1rem;
}

audio {
  width: 100%;
  display: block;
  margin: 1rem auto 0.5rem;
}

.clip p {
  display: inline-block;
  font-size: 1rem;
}

.clip button {
  font-size: 1rem;
  float: right;
}

button.delete {
  background: #f00;
  */ padding: 0.5rem 0.75rem;
  font-size: 0.8rem;
}


/* Checkbox hack to control information box display */

label {
  font-size: 3rem;
  position: absolute;
  top: 2px;
  right: 3px;
  z-index: 5;
  cursor: pointer;
}

input[type=checkbox] {
  position: absolute;
  top: -100px;
}

aside {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translateX(100%);
  transition: 0.3s all ease-out;
  /*background-color: #efefef;*/
  padding: 1rem;
}

aside p {
  font-size: 1.2rem;
  margin: 0.5rem 0;
}

aside a {
  color: #666;
}


/* Toggled State of information box */

input[type=checkbox]:checked~aside {
  transform: translateX(0);
}


/* Cursor when clip name is clicked over */

.clip p {
  cursor: pointer;
}


/* Adjustments for wider screens
@media all and (min-width: 800px) {
/* Don't take all the space as readability is lost when line length
 goes past a certain size
.wrapper {
width: 90%;
max-width: 1000px;
margin: 0 auto;
}
}*/
